@font-face {
  font-family: 'proxima-nova';
  font-weight: normal;
  src:
    local('proxima-nova-regular'),
    url(./fonts/proxima-nova-regular.otf) format('opentype');
}

@font-face {
  font-family: 'proxima-nova-thin';
  font-weight: lighter;
  src:
  local('proxima-nova-thin'),
    url(./fonts/proxima-nova-thin.otf) format('opentype');
}

html, body {
  font-family: proxima-nova-thin;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}
